@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";
@import "~/assets/scss/tools/_mixins.scss";
.recommentations {
	position: relative;
	padding: clamp(6rem, 10vw, 15rem) clamp(2rem, 6vw, 8rem) clamp(1rem, 9vw, 12rem) clamp(2rem, 6vw, 8rem);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -35vw;
		right: -35vw;
		height: 100%;
		z-index: -1;
	}
	&__title {
		text-align: center;
	}
	&__bodytext {
		display: inline;
		p {
			display: inline;
			font-size: clamp(1.5rem, 8vw, 1.8rem);
		}
	}
	&__list {
		margin: 3rem 6vw;
	}
	&__quote-sign {
		transform: scale(1.8);
		display: inline-block;
		margin-right: 1rem;
	}
	&__quote-sign:last-child {
		transform: translateY(1rem) scale(1.8);
		margin-left: 1rem;
		margin-right: 0;
	}

	// info
	&__info {
		margin-top: 2rem;
	}
	&__name,
	&__from {
		font-style: italic;
		font-size: 1.5rem;
	}
	// slider
	&__slider {
		margin: 3rem 6vw;
		.hooper-slide {
			cursor: pointer;
		}
		.hooper-list {
			width: 99%;
		}
	}
	@include sliderNav;
}
