@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";
@import "~/assets/scss/tools/_mixins.scss";
.recommentations {
	position: relative;
	background-color: $color-gray-alabaster;
	padding: 8rem 0 6rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -35vw;
		right: -35vw;
		background-color: $color-gray-alabaster;
		height: 100%;
		z-index: -1;
	}
	&__title {
		text-align: center;
	}
	&__bodytext {
		display: inline;
		p {
			display: inline;
		}
	}
	&__list {
		margin: 3rem 6vw;
	}
	&__quote-sign {
		transform: scale(1.8);
		display: inline-block;
		margin-right: 1rem;
	}
	&__quote-sign:last-child {
		transform: translateY(1rem) scale(1.8);
		margin-left: 1rem;
		margin-right: 0;
	}

	// info
	&__info {
		margin-top: 2rem;
	}
	&__name,
	&__from {
		font-style: italic;
		font-size: 1.5rem;
	}
	// slider
	&__slider {
		margin: 3rem 6vw;
		.hooper-slide{
			cursor: pointer;
		}
	}
	// slider nav
	.hooper-prev, .hooper-next{
		border: 1px solid $color-black-tundora;
		border-radius: 50%;
		height: 5.5rem;
		width: 5.5rem;
		transition: $transition--extra-fast;
		svg{
			fill:$color-black-tundora;
			transition: $transition--extra-fast;
		}
		&:hover{
			background-color: $color-black-tundora;
			svg{
				fill:$color-white;
			}
		}
	}
	.hooper-prev {
		left: -10rem;
	}
	.hooper-next {
		right: -10rem;
	}
}
