$main-font: "Karla", serif;
$secondary-font: "Spectral", sans-serif;
// pt serif
@mixin font-secondary {
	font-family: $secondary-font;
	font-weight: 300;
}
@mixin font-secondary-semi-bold {
	font-family: $secondary-font;
	font-weight: 400;
}
@mixin font-secondary-bold {
	font-family: $secondary-font;
	font-weight: 700;
}

@mixin font-main-regular {
	font-family: $main-font;
	font-weight: 400;
}
@mixin font-main-medium {
	font-family: $main-font;
	font-weight: 500;
}
@mixin font-main-semibold {
	font-family: $main-font;
	font-weight: 600;
}
@mixin font-main-bold {
	font-family: $main-font;
	font-weight: 700;
}
