//-- pt serif --//
@mixin font-pt-serif {
	font-family: "PT Serif", serif;
	font-weight: 400;
}
@mixin font-pt-serif-bold {
	font-family: "PT Serif", serif;
	font-weight: 700;
}

// pt sans
@mixin font-sans-pro {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
@mixin font-sans-pro-medium {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
@mixin font-sans-pro-bold {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
