$columns: 16;
$grid-gap: 2vw;

//////// main wrapper
.grid-w {
	@include grid-wrap;
}
//////// grid row
.grid-r {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	grid-gap: 1.8vw;
}
[class^="grid-c"] {
	grid-column-end: span $columns;
}

@for $i from 1 through $columns {
	.grid-c-#{$i} {
		grid-column-end: span $i;
	}
}

@each $size, $abbr in ($viewport-extra-large, lg), ($viewport-large, md), ($viewport-medium, sm), ($viewport-small, xs)
{
	@media (max-width: $size) {
		// Loop through col classes
		@for $i from 1 through $columns {
			.grid-c-#{$abbr}-#{$i} {
				grid-column-end: span $i;
			}
		}
	}
}
//////// offsets
.grid-c-1-offset-1 {
	grid-column: 2 / span 1;
}
.grid-c-10-offset-2 {
	grid-column: 2 / span 10;
}
// offset 3
.grid-c-13-offset-3 {
	grid-column: 3 / span 12;
}
.grid-c-10-offset-3 {
	grid-column: 4 / span 10;
}

@include viewport-medium {
	.grid-remove-offset-md {
		grid-column: span 16;
	}
}
@include viewport-small {
	//////// offsets
	.grid-remove-offset-sm {
		grid-column: span 16;
	}
}
