// local mixinx
@mixin default-text-style {
	@include fluid-type(16px, 18px);
	color: $color-black-tundora;
	line-height: 1.7;
	margin-top: .8rem;
    margin-bottom: 1.8rem;
}
@mixin headline-1 {
	@include fluid-type(40px, 80px);
	line-height: 1.4;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
@mixin headline-2 {
	@include fluid-type(28px, 46px);
	margin-top: 0.6rem;
	margin-bottom: 1.8rem;
	line-height: 1.4;
}
// typography styles
h1,
h2,
.headline-2,
h3,
.headline-3,
h4 {
	@include font-pt-serif;
	color: $color-black-tundora;
	white-space: pre-wrap;
}
h1 {
	@include headline-1;
	p {
		@include headline-1;
	}
}
h2,
.headline-2 {
	@include headline-2;
	p {
		@include headline-2;
	}
}
h3,
.headline-3 {
	@include font-pt-serif-bold;
	@include fluid-type(20px, 25px);
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}
h4 {
	@include fluid-type(18px, 20px);
	margin-top: 0.2rem;
	margin-bottom: 0.6rem;
}

b,
strong {
	font-weight: 700;
}
i {
	font-style: italic;
}
p {
	@include default-text-style;
}
p a {
	@include default-text-style;
}
ul li,
ol li {
	@include default-text-style;
}
.label {
	color: $color-yellow-corn;
	@include fluid-type(16px, 18px);
	display: block;
	@include font-sans-pro-bold;
}
.caption{
	p{
		margin-top: 0;
		color:$color-gray-silver;
		font-size: 1.6rem;
	}
}
hr {
	border: 0.05rem solid $color-yellow-corn;
	margin-top:1.1rem;
}
a {
	@include default-text-style;
	text-decoration: none;
}

@include viewport-small {
	.label {
		&::before {
			content: none;
		}
	}
}
