// local mixinx
@mixin default-text-style {
	font-size: clamp(1.8rem, 5vw, 1.9rem);
	color: $color-black-tundora;
	line-height: 1.6;
	margin-top: 0.8rem;
	margin-bottom: 1.8rem;
}
@mixin headline-1 {
	font-size: clamp(5rem, 4.5vw, 8rem);
	line-height: 1.3;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
@mixin headline-2 {
	// @include fluid-type(28px, 46px);
	font-size: 4.6rem;
	margin-top: 0.6rem;
	margin-bottom: 1.8rem;
	line-height: 1.4;
}
// typography styles
h1,
h2,
.headline-2,
h3,
.headline-3,
h4 {
	@include font-pt-serif;
	color: $color-black-tundora;
	white-space: pre-wrap;
}
h1 {
	@include headline-1;
	p {
		@include headline-1;
	}
}
h2,
.headline-2 {
	@include headline-2;
	p {
		@include headline-2;
	}
}
h3,
.headline-3 {
	@include font-pt-serif;
	// @include fluid-type(20px, 24px);
	font-size: 2.4rem;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}
h4 {
	// @include fluid-type(18px, 20px);
	font-size: 2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.6rem;
}

b,
strong {
	font-weight: 700;
}
i {
	font-style: italic;
}
p {
	@include default-text-style;
}
p a {
	@include default-text-style;
	@include font-sans-pro-medium;
	color: $color-yellow-corn;
	transition: color $transition--extra-fast;
	&:hover {
		color: $color-black-tundora;
	}
}
ul li,
ol li {
	@include default-text-style;
}
.label {
	color: $color-yellow-corn;
	// @include fluid-type(16px, 18px);
	font-size: 1.8rem;
	display: block;
	@include font-sans-pro-bold;
}
.caption {
	p {
		margin-top: 0;
		color: $color-gray-silver;
		font-size: 1.6rem;
	}
}
hr {
	border: 0.05rem solid $color-yellow-corn;
	margin-top: 1.1rem;
}
a {
	@include default-text-style;
	text-decoration: none;
}

@include viewport-small {
	.label {
		&::before {
			content: none;
		}
	}
}
