// local mixinx
@mixin default-text-style {
	font-size: clamp(1.4rem, 1.2vw, 1.7rem);
	color: $color-black-tundora;
	line-height: 1.65;
	margin-top: 0.8rem;
	margin-bottom: 1.8rem;
}
@mixin headline-1 {
	@include font-pt-serif;
	font-size: clamp(5rem, 4vw, 6.8rem);
	line-height: 1.2;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
@mixin headline-2 {
	@include font-pt-serif;
	font-size: clamp(3rem, 3vw, 4rem);
	margin-top: 0.6rem;
	margin-bottom: 1.8rem;
	line-height: 1.4;
}
// typography styles
h1,
h2,
.headline-2,
h3,
.headline-3,
h4 {
	@include font-pt-serif;
	color: $color-black-tundora;
	white-space: pre-wrap;
}
h1 {
	@include headline-1;
	p {
		@include headline-1;
	}
}
h2,
.headline-2 {
	@include headline-2;
	p {
		@include headline-2;
	}
}
h3,
.headline-3 {
	@include font-pt-serif;
	font-size: clamp(2rem, 2vw, 3rem);
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}
h4 {
	font-size: clamp(1.6rem, 3vw, 2rem);
	margin-top: 0.2rem;
	margin-bottom: 0.6rem;
}

b,
strong {
	font-weight: 700;
}
i {
	font-style: italic;
}
p {
	@include default-text-style;
}
p a {
	@include default-text-style;
	@include font-main-medium	;
	color: $color-yellow-corn;
	transition: color $transition--extra-fast;
	&:hover {
		color: $color-black-tundora;
	}
}
ul li,
ol li {
	@include default-text-style;
	padding-bottom: 0;
	margin-bottom: 0;
	p{
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
.label {
	color: $color-yellow-corn;
	// @include fluid-type(16px, 18px);
	font-size: 1.8rem;
	display: block;
	@include font-main-bold;
}
.caption {
	p {
		margin-top: 0;
		color: $color-gray-silver;
		font-size: 1.6rem;
	}
}
hr {
	border: 0.05rem solid $color-yellow-corn;
	margin-top: 1.1rem;
}
a {
	@include default-text-style;
	text-decoration: none;
}

@include viewport-small {
	.label {
		&::before {
			content: none;
		}
	}
}
