@import "~assets/scss/tools/_mixins.scss";
$hero-spacing: clamp(5rem, 5vw, 12rem);
.hero {
	margin-top: $hero-spacing;
	margin-bottom: $hero-spacing;
	&__sub-title {
		// @include fluid-type(20px, 30px);
		font-size: 3rem;
	}
	&__image {
		margin-top: 4rem;
		width: 100%;
	}
	&__bodytext{
		max-width: 850px;
	}
}
