 @import "~assets/scss/tools/_mixins.scss";

.hero{
   margin-top: 6vw;
    &__title--large{
        @include fluid-type(40px, 90px);
        margin-bottom: 1rem;
        p{
            @include fluid-type(40px, 90px);
            margin-bottom: 1rem;
        }
    }
    &__sub-title{
        @include fluid-type(20px, 30px);
       
    }
    &__image{
        margin-top: 4rem;
        width: 100%;
    }
}