 @import "~assets/scss/tools/_mixins.scss";

.hero{
   margin-top: 4vw;
    &__title--large{
        // @include fluid-type(40px, 90px);
        font-size: 9rem;
        margin-bottom: 1rem;
        p{
            // @include fluid-type(40px, 90px);
            font-size: 9rem;
            margin-bottom: 1rem;
        }
    }
    &__sub-title{
        // @include fluid-type(20px, 30px);
        font-size: 3rem;
       
    }
    &__image{
        margin-top: 4rem;
        width: 100%;
    }
}