@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";
@import "~/assets/scss/tools/_mixins.scss";
.collaborators {
	position: relative;
	background-color: $color-gray-alabaster;
	padding: 8rem 0 6rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -35vw;
		right: -35vw;
		background-color: $color-gray-alabaster;
		height: 100%;
		z-index: -1;
	}

	// list
	&__list {
		margin: 8rem 0;
	}
	&__list-item {
		align-items: center;
		display: flex;
	}
	&__list-img {
		width: auto;
		max-width: 20rem;
		max-height: 15rem;
		object-fit: cover;
	}

	// slider
	&__slider {
		margin: 8rem 0;
		.hooper-slide {
			cursor: pointer;
		}
	}
	// slider nav
	.hooper-track{
		align-items: center;
		a{
			margin: 0;
		}
	}
	.hooper-prev,
	.hooper-next {
		border: 1px solid $color-black-tundora;
		border-radius: 50%;
		height: 5.5rem;
		width: 5.5rem;
		transition: $transition--extra-fast;
		svg {
			fill: $color-black-tundora;
			transition: $transition--extra-fast;
		}
		&:hover {
			background-color: $color-black-tundora;
			svg {
				fill: $color-white;
			}
		}
	}
	.hooper-prev {
		left: -10rem;
	}
	.hooper-next {
		right: -10rem;
	}
}
