@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";
@import "~/assets/scss/tools/_mixins.scss";

.collaborators {
	position: relative;
	padding: 8rem 0 6rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -35vw;
		right: -35vw;
		height: 100%;
		z-index: -1;
	}

	// list
	&__list {
		margin: 8rem 0;
	}
	&__list-item {
		align-items: center;
		display: flex;
	}
	&__list-img {
		width: auto;
		max-width: 20rem;
		max-height: 15rem;
		object-fit: cover;
	}

	// slider
	&__slider {
		margin: 8rem 0;
		.hooper-slide {
			cursor: pointer;
		}
	}
	// slider nav
	.hooper-track {
		align-items: center;
		a {
			margin: 0;
		}
	}
	@include sliderNav;
}
