

@mixin theme-colors($main, $adverse) {
  background-color: $main; 
  &::before{
    background-color: $main; 
  } 
  p,a,h2,h3,h4, span{
    color:$adverse;
  }
  // slider nav
	.hooper-prev, .hooper-next{
		border: 1px solid $adverse;
    &::before{
			background-color: $adverse;
		}
		svg{
			fill:$adverse;
		}
		&:hover{
			background-color: $main;
			svg{
				fill:$main;
			}
		}
	}
}


.dark-section{
	@include theme-colors($color-black-mine-shaft, $color-white);
}