
@import "~/assets/scss/settings/_vars.scss";
//-------- Layout -------//
@mixin grid-wrap {
	max-width: 1600px;
	width: 90vw;
	margin: 0 auto;
}
// font mixing
@function strip-unit($value) {
	@return $value / $value * 0 + 1;
}

@mixin fluid-type($min-font-size, $max-font-size) {
	$u1: unit($grid-min-width);
	$u2: unit($grid-max-width);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $grid-min-width) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
						((100vw - #{$grid-min-width}) / #{strip-unit($grid-max-width - $grid-min-width)})
				);
			}
			@media screen and (min-width: $grid-max-width) {
				font-size: $max-font-size;
			}
		}
	}
}

//-------- Media queries -------//
// estra small phones
@mixin viewport-extra-small {
	// max-width: 350px
	@media only screen and (max-width: $viewport-extra-small) {
		@content;
	}
}

// phones
@mixin viewport-small {
	// max-width: 576
	@media only screen and (max-width: $viewport-small) {
		@content;
	}
}

//bootstraps breaking point for tablet
@mixin viewport-tablet {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

// tablet vertical down to phone
@mixin viewport-medium {
	// max-width: 992
	@media only screen and (max-width: $viewport-medium) {
		@content;
	}
}

// tablet horizontal and down to phone
@mixin viewport-large {
	// max-width: 1025
	@media only screen and (max-width: $viewport-large) {
		@content;
	}
}

// desktop
@mixin viewport-extra-large {
	// max-width: 1440
	@media only screen and (max-width: $viewport-extra-large) {
		@content;
	}
}

// xl screens
@mixin viewport-max {
	// min-width: 1920px
	@media only screen and (min-width: $viewport-max) {
		@content;
	}
}
// custom viewport - max
@mixin viewport-custom-max($viewport-size) {
	@media only screen and (max-width: $viewport-size) {
		@content;
	}
}
// custom viewport - min
@mixin viewport-custom-min($viewport-size) {
	@media only screen and (min-width: $viewport-size) {
		@content;
	}
}
// only mouse interactions
@mixin viewport-mouse {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin position-center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin position-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
