@import "~assets/scss/tools/_mixins.scss";

.hero-split {
    min-height: 20vh;
	margin-bottom: 5vw;
    img{
        width: 100%;
    }
    h1{
        margin: 0;
    }
    h1 p{
        margin: 0;
    }
    &__content{
        margin: clamp(2rem, 7vw, 18rem) 0;
    }
    &__img{
        height: 100%;
       img{
           height: 100%;
           min-height: 100%;
           min-width: 50vw;
       } 
    }
}
