
a.btn{
    @include font-main-bold;
    background-color: $color-yellow-corn;
    color: $color-white;
    padding: 1rem 1.8rem;
    height: 2.8rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    box-shadow: $box-shadow;
}