@import "~/assets/scss/tools/_mixins.scss";
@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";

$hover-transform: scale(1.06);
.list-block {
	&__item {
		position: relative;
		margin-bottom: 2rem;
		z-index: 1;
		p {
			opacity: 0.5;
		}
		a {
			display: block;
			height: 100%;
		}
	}
	&__item a {
		display: block;
		padding: 2vw 2vw;
	}
	&__item:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: $color-gray-alabaster;
		z-index: -1;
		transform: scale(1);
		transition: transform $transition--fast;
	}
	&__item:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		opacity: 0;
		transform: $hover-transform;
		transition: opacity $transition;
		box-shadow: 0 0 17px -12px rgb(0 0 0 / 30%);
	}
	&__item-headline {
		// @include fluid-type(16px, 18px);
		font-size: 1.8rem;
		@include font-main-bold;
	}
}
// modifyer
.list-block__item--last {
	&.list-block__item {
		p {
			color: $color-white;
			opacity: 1;
		}
	}
	&.list-block__item:after {
		opacity: 1;
		background-color: $color-yellow-corn;
	}
	.list-block__item-headline {
		color: $color-white;
	}
}
// hover
@include viewport-mouse {
	.list-block__item:hover {
		&::after {
			transform: $hover-transform;
		}
		&:before {
			opacity: 1;
		}
	}
}
