@import "~/assets/scss/settings/_vars.scss";
@import "~assets/scss/tools/_mixins.scss";

.slider {
	margin-bottom: 10rem;
	cursor: grab;
	height: clamp(60rem, 80vw, 75vh);
	overflow: hidden;
	position: relative;
	max-width: 1800px;
	width: 92vw;
	left: -200px;

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&__teaser {
		position: absolute;
		bottom: 0;
		width: 45rem;
		height: 15rem;
		padding: 1.5rem;
		background: $color-yellow-corn;
		box-shadow: $box-shadow;
		z-index: 1;
		opacity: 0;
		transform: translateY(100%);
		transition: transform $transition--fast, opacity $transition--fast;
		transition-delay: 0s;
		p {
			color: $color-white;
			font-size: 1.4rem;
		}
	}
	// custom pagination
	&__pagination {
		position: absolute;
		top: 0.35rem;
		right: 0;
		padding-left: 4rem;
		padding-bottom: 3rem;
		z-index: 2;
		li {
			margin: 0;
			width: 25rem;
			height: 5rem;
			a {
				width: 100%;
				padding: 1.25rem 0;
				cursor: pointer;
				margin: 0;
				display: block;
			}
			svg,
			span {
				display: inline-block;
			}
			svg {
				margin-top: 1rem;
				margin-right: 0.1rem;
				float: right;
			}
		}
		p {
			margin: 0;
			font-size: 1.5rem;
		}
	}
}
.slider {
	.hooper-slide.is-active.is-current {
		.slider__teaser {
			transition-delay: 0.2s;
			opacity: 1;
			transform: translateY(0);
		}
	}
	// overwrite hooper
	.hooper {
		height: 100%;
	}
	.hooper-slider {
		position: relative;
	}

	.hooper-track {
		transition: transform $transition !important;
	}

	// pagination
	.hooper-pagination {
		position: absolute;
		bottom: auto;
		top: 0;
		right: 0;
		transform: none;
		background: $color-white;
		box-shadow: $box-shadow;
		padding-right: 0;
		padding-left: 4rem;
		padding-bottom: 3rem;
		ol {
			display: block;
		}
		li {
			margin: 0;
			padding: 0;
		}
		button {
			position: relative;
			z-index: 5;
			background: rgba($color-white, 0.8);
			border-radius: 0;
			width: 25rem;
			height: 5rem;
			border-bottom: 1px solid rgba($color-gray-silver, 0.3);
		}
	}
	.hooper-indicator {
		cursor: pointer;
		transition: border-bottom $transition--fast, background $transition--fast;
		&:hover,
		&.is-active {
			background: none;
			border-bottom: 1px solid $color-black;
		}
		&.is-active {
			z-index: 1;
		}
	}
}
@include viewport-max {
	.slider {
		left: -5vw;
		width: 90vw;
	}
}
