// @import "~/assets/scss/tools/_mixins.scss";
// @import "~/assets/scss/settings/_vars.scss";
// @import "~/assets/scss/settings/_fonts.scss";

.slider {
	height: 80rem;
	max-height: 80vh;
	overflow: hidden;
	position: relative;
	&__image{
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&__teaser{
		position: absolute;
		bottom: 0;
		height: 20rem;
		width:20rem;
		background: red;
		z-index: 1;
	}
}
.hooper {
	height: 100%;
	.hooper-slider{
		position: relative;
	}
}
