@import "~/assets/scss/tools/_mixins.scss";
@import "~/assets/scss/settings/_vars.scss";
@import "~/assets/scss/settings/_fonts.scss";

.header {
	@include grid-wrap-max;
	transform: translateX(-50%);
	left: 50%;
	position: fixed;
	top: 0;
	background-color: $color-white;
	padding: 0;
	z-index: 10;
	will-change: transform;
	&::before {
		content: "";
		position: absolute;
		left: -50vw;
		bottom: 0;
		width: 200vw;
		height: 3rem;
		z-index: -1;
		box-shadow: $box-shadow;
	}
	&::after {
		content: "";
		position: absolute;
		left: -50vw;
		top: 0;
		width: 200vw;
		height: 100%;
		z-index: -1;
		background-color: $color-white;
	}
	li,
	a {
		margin: 0;
	}
	// logo
	&__logo {
		margin-top: 1rem;
		width: clamp(8rem, 8vw, 9rem);
	}
	// nav
	&__nav-list-item {
		display: inline-block;
	}
	&__nav-list-item a {
		position: relative;
		@include font-main-regular;
		display: block;
		padding: 2rem clamp(1.2rem, 1.5vw, 3rem);
		font-size: clamp(1.2rem, 1vw, 1.6rem);
		&::first-letter {
			text-transform: uppercase;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: clamp(1.2rem, 1.5vw, 3rem);
			right: clamp(1.2rem, 1.5vw, 3rem);
			height: 0.2rem;
			background-color: $color-yellow-corn;
			opacity: 0;
			transform: translate3d(0, -2rem, 0);
			transition: opacity $transition--extra-fast, transform $transition--extra-fast;
		}
	}
	// hover effect
	&__nav-list-item a:not(.btn):hover {
		&:after {
			opacity: 1;
			transform: translate3d(0, -1.5rem, 0);
		}
	}
	&__nav-list-item a:not(.btn).nuxt-link-exact-active {
		@include font-main-semibold;
		&:after {
			opacity: 1;
			transform: translate3d(0, -1.5rem, 0);
		}
	}
	// cta button
	.btn {
		margin-left: 1.5rem;
		padding: 0.5rem 2.5rem;
	}
}
// menu icon
.header-menu-icon {
	display: none;
}
@include viewport-extra-large {
	.header {
		// nav
		&__nav-list-item a {
			white-space: nowrap;
			padding: 2.2rem 1.5rem;
			font-size: 1.52rem;
			&:after {
				left: 1.5rem;
				right: 1.5rem;
			}
		}

		// cta button
		.btn {
			margin-left: 1rem;
		}
	}
}
// local var
$menu-icon-size: 6rem;
$menu-icon-span-size: 4rem;
$menu-icon-span-size-s: 3rem;
$menu-icon-span-spacing: 1rem;
$menu-icon-span-height: 0.2rem;

@include viewport-large {
	// menu icon
	.header-menu-icon {
		margin-top: -0.5rem;
		position: relative;
		display: inline-block;
		width: $menu-icon-size;
		height: $menu-icon-size;
		padding: 2rem;
		span {
			margin: 0 auto;
			position: relative;
			top: $menu-icon-span-spacing;
			width: $menu-icon-span-size;
			height: 0.215rem;
			background-color: $color-black-tundora;
			display: block;
			transition-duration: 0s;
			transition-delay: 0.2s;
			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				width: $menu-icon-span-size;
				height: $menu-icon-span-height;
				background-color: $color-black-tundora;
				margin-top: $menu-icon-span-spacing;
				transition-property: margin, transform;
				transition-duration: 0.2s;
				transition-delay: 0.2s, 0s;
			}
			&:before {
				margin-top: -$menu-icon-span-spacing;
			}
		}
	}
	// active menu icon
	.header-menu-icon.nuxt-link-exact-active {
		span {
			background-color: rgba($color-black, 0);
			transition-delay: 0.2s;
		}
		span:before {
			margin-top: 0;
			transform: rotate(45deg);
			transition-delay: 0s, 0.2s;
		}
		span:after {
			margin-top: 0;
			transform: rotate(-45deg);
			transition-delay: 0s, 0.2s;
		}
	}

	.header {
		&::before {
			left: -10vw;
			width: 120vw;
		}
		// nav
		&__nav-list {
			position: fixed;
			top: 8rem;
			padding-top: 6rem;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $color-white;
			display: block;
			transform: translateX(100%);
			transition: opacity $transition--extra-fast, transform $transition--extra-fast;
		}
		&__nav-list-item {
			display: block;
		}
		&__nav-list-item a {
			padding: 1.5rem 5vw;
			font-size: 2rem;
			&:after {
				content: "";
				position: absolute;
				bottom: -0.2rem;
				left: 5vw;
				width: 5rem;
				right: auto;
			}
		}

		// cta button
		.btn {
			display: inline-block;
			margin-top: 2rem;
			margin-left: 5vw;
		}
	}
	// active menu
	.header__nav-list.is-active {
		transform: translateX(0);
	}
}
@include viewport-small {
	.header {
		.grid-r {
			grid-gap: 0;
		}
		&::before {
			height: 3.5rem;
		}
		&__logo {
			max-width: 7rem;
		}
		// nav
		&__nav-list {
			top: 7rem;
			padding-top: 5rem;
		}
		&__nav-list-item a {
			&:after {
				height: 0.3rem;
				bottom: -0.3rem;
			}
		}
	}
	// menu icon
	// menu icon
	.header-menu-icon {
		margin-top: -1.5rem;
		span {
			width: $menu-icon-span-size-s;
			height: 0.215rem;
			&:before,
			&:after {
				width: $menu-icon-span-size-s;
				height: $menu-icon-span-height;
			}
			&:after {
				margin-top: 0.89rem;
				height: 0.23rem;
			}
		}
	}
}
